.grid {
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}
.cells {
  border: 1px solid;
  background: #ddf4df;
}
.blanco {
  background: #ddf4df;
}

.celeste {
  background: #40bfbb;
}

.orange {
  background: orange;
}

.celeste {
  background: #40bfbb;
}
.red {
  background: red;
}
.celeste-border {
  border: solid;
  border-color: #40bfbb;
}
.cells:active,
.active {
  background: #162141;
}
